%ul
  %li
    %p Users with no assigned roles can only view diagrams.  They can only view diagrams shared with them and they can not download the underlying data.
  %li
    %p Institution admins (assigned the role 'insitution-admin') can see all diagrams and do everything.
  %li
    %p Institution admins and users with the 'user-approve' role will be emailed by the system when a new user registers.
  %li
    %p A non-admin user can only approve other users if they have both 'user-update' and 'user-approve'
  %li
    %p A non-admin user can only set other user's roles if they have both 'user-update' and 'user-set-roles'.
  %li
    %p Users who aren't institution admins can only grant roles to users that they also possess.