:javascript
  var role_dependencies = #{@user.role_dependencies.to_json}

  $('.role-select').select2({
    width: '200px',
    placeholder: 'This user has no assigned roles.'
  })
  .on("change", function(e) {
    var vals = [];
    var messages = [];

    e.val.forEach(function(role){
      if (vals.indexOf(role) == -1 ){
        vals.push(role);
      }

      var role_to_add = role_dependencies[role];
      var dependent_role = role;
      while (role_to_add != undefined && vals.indexOf(role_to_add) == -1){
        messages.push("The role <strong>"+dependent_role+"</strong> depends on the role <strong>"+role_to_add+"</strong>. <strong>"+role_to_add+"</strong> has been automatically added.");
        vals.push(role_to_add);
        dependent_role = role_to_add;
        role_to_add = role_dependencies[role_to_add];
      }
    });

    $(".role-select").select2('val', vals);

    $("#role-messages").html("");
    messages.forEach(function(m){
      $("#role-messages").append("<p>"+m+"</p>");
    });

    e.preventDefault();
    return false;
  });

  $("#clear_roles").click(function(){
    $(".role-select").select2('val', []);
  });

  $(document).ready(function() {
    $(window).keydown(function(event){
      if(event.keyCode == 13) {
        event.preventDefault();
        return false;
      }
    });
  });

  $('#toggle-role-docs').click(function(e){
    $('#role-docs').slideToggle();
    e.preventDefault();
    return false;
  });