%ul
  %li
    %p Users with no assigned roles can only view diagrams.  They can only view diagrams shared with them and they can not download the underlying data.
  %li
    %p Institution admins (assigned the role 'insitution-admin') can see all diagrams and do everything.
  %li
    %p Institution admins and users with the 'user-approve' role will be emailed by the system when a new user registers.
  %li
    %p Users who aren't institution admins can only grant roles to users that they also possess.
  %li
    %p Some roles functionally depend on other roles.  For instance, it would be pretty hard to update a user if you can't view the user list.  When a role with a dependency is added the application will automatically add the required roles and notify the user.