:javascript
  function UCDRibbonGraphController(){
    this.diagram = null;
    this.graph = null;
    this.filter = null;
    this.data = null;
    this.data_string = #{Paperclip.io_adapters.for(@diagram.data_file).read.inspect};
    this.data_format = #{@diagram.data_format.inspect};

    if (this.data_format.split("-")[0] == "csv"){
      this.data = $.csv.toObjects(this.data_string);
    } else if (this.data_format.split("-")[0] == "json") {
      this.data = JSON.parse(this.data_string);
      this.filter = new UCDRibbonGraphFilter(this.data);
    }

    this.initialize();
    this.register_form_events();
  }

  UCDRibbonGraphController.prototype = {
    register_form_events: function(){
      var controller = this;

      $("#control_toggle").click(function(){
        $("#controls").animate({width: 'toggle'});
      });

      $(".wrap").addClass("wrap-wide").removeClass("wrap");

      $("#hide_unselected").change(function(){
        var checkbox_checked = $(this).is(":checked")
        d3.selectAll(".link").style("visibility", function(d,i){
          if (d.selected) return "visible";

          if(checkbox_checked) return "hidden";
          else return "visible";
        });
      });

      $("#time_2_forward_button").click(function(){
        $('#time_2_select option:selected').next().attr('selected', 'selected');
        $(".apply_filter").click();

      });

      $("#time_2_back_button").click(function(){
        $('#time_2_select option:selected').prev().attr('selected', 'selected');
        $(".apply_filter").click();
      });

      $("#time_2_select").change(function(){
        $(".apply_filter").click();
      });

      $("#deselect_links").click(function(){
        controller.graph.select_none();
        controller.diagram.draw();
        return false;
      });

      $(".select_all").click(function(){
        $("#" + $(this).attr("id").replace("_select_all", "") + " option").attr('selected', true);
        $("#" + $(this).attr("id").replace("_select_all", "")).focus();
        //$("#" + $(this).attr("id").replace("_select_all", "")).change();
        return false;
      });

      $(".select_none").click(function(){
        $("#" + $(this).attr("id").replace("_select_none", "") + " option").attr('selected', false);
        $("#" + $(this).attr("id").replace("_select_none", "")).focus();
        //$("#" + $(this).attr("id").replace("_select_none", "")).change();
        return false;
      });


      $('select option').mousedown(function(e){
        e.preventDefault();
        $(this).prop("selected", !$(this).prop("selected"));

        $(this).change();
        return false;
      });

      $(".apply_filter").click(function(){
        controller.graph.reset_node_and_link_values();
        controller.graph.create_graph_from_individual_json(controller.data);
        controller.diagram.draw();
      });

      var instructions_showing = true;

      $("#toggle_instructions").click(function(e){
        e.preventDefault();

        if (instructions_showing){
          $(this).text("Show Instructions");
          $("#instructions").slideUp();
        }else{
          $("#instructions").slideDown();
          $(this).text("Hide Instructions");
        }
        instructions_showing = !instructions_showing;



      });


    },

    initialize: function(){

      this.initialize_time_2_selector();

      //Create the graph and the diagram
      this.graph = new UCDRibbonGraph(this.data, this.data_format, this.filter);
      this.diagram = new UCDRibbonGraphDiagram(this.graph);

      //Draw the diagram
      this.diagram.draw();
    },

    initialize_time_2_selector : function(){
      var data = this.data;
      var data_format = this.data_format;

      //Read first student data to figure out the earliest terms and all other terms
      var times = [];

      if (this.data_format == "json-individual"){
        var first_time = data["STUDENTS"][0]["RECORDS"][0];

        data["STUDENTS"][0]["RECORDS"].forEach(function(record){
          if (record["TIME"] != first_time)
            times.push(record["TIME"]);
        });
      } else if (this.data_format == "json-aggregate"){


      } else if (this.data_format == "csv-aggregate"){
        var first_time = data[0]["TIME"];

        data.forEach(function(record){
          if (record["TIME"] != first_time && times.indexOf(record["TIME"]) == -1 )
            times.push(record["TIME"]);
        });
      }



      //Create menu items based on the terms in the data
      $("#time_2_select").html("");
      times.forEach(function(et, index){
        $("#time_2_select").append('<option value="'+et+'" '+(index == 13 ? 'selected' : '')+'>'+et+'</option>');
      });
    }

  }

  var ribbon_controller = null;

  window.onload = function(){
    ribbon_controller = new UCDRibbonGraphController();
  }


