:javascript
  function RibbonController(){
    this.diagram = null;
    this.graph = null;
    this.filter = null;
    this.data_format = #{@diagram.data_format.inspect};
    this.format_converter = new RibbonFormatConverter(this.data_format);

    this.data = this.format_converter.convert(#{@diagram.data_files.map do |df| { "name" => df.name, "data" => Paperclip.io_adapters.for(df.data_file).read } end.to_json });

    this.filter = new RibbonFilter(this.data);

    this.initialize();
    this.register_form_events();
  }

  RibbonController.prototype = {
    register_form_events: function(){
      var controller = this;

      $("#control_toggle").click(function(){
        $("#controls").animate({width: 'toggle'});
      });

      $(".wrap").addClass("wrap-wide").removeClass("wrap");

      $("#hide_unselected").change(function(){
        var checkbox_checked = $(this).is(":checked")
        d3.selectAll(".link").style("visibility", function(d,i){
          if (d.selected) return "visible";

          if(checkbox_checked) return "hidden";
          else return "visible";
        });
      });

      $("#time_2_forward_button").click(function(){
        $('#time_2_select option:selected').next().attr('selected', 'selected');
        $(".apply_filter").click();
      });

      $("#time_2_back_button").click(function(){
        $('#time_2_select option:selected').prev().attr('selected', 'selected');
        $(".apply_filter").click();
      });

      $("#time_2_select").change(function(){
        $(".apply_filter").click();
      });

      $("#time_1_forward_button").click(function(){
        $('#time_1_select option:selected').next().attr('selected', 'selected');
        $(".apply_filter").click();
      });

      $("#time_1_back_button").click(function(){
        $('#time_1_select option:selected').prev().attr('selected', 'selected');
        $(".apply_filter").click();
      });

      $("#time_1_select").change(function(){
        controller.filter.update_time_selectors($("#time_1_select").val());
        $(".apply_filter").click();
      });

      $("#deselect_links").click(function(){
        controller.graph.select_none();
        controller.diagram.draw();
        return false;
      });

      $(".select_all").click(function(){
        $("#" + $(this).attr("id").replace("_select_all", "") + " option").attr('selected', true);
        $("#" + $(this).attr("id").replace("_select_all", "")).focus();
        return false;
      });

      $(".select_none").click(function(){
        $("#" + $(this).attr("id").replace("_select_none", "") + " option").attr('selected', false);
        $("#" + $(this).attr("id").replace("_select_none", "")).focus();
        return false;
      });


      $('select option').mousedown(function(e){
        e.preventDefault();
        $(this).prop("selected", !$(this).prop("selected"));

        $(this).change();
        return false;
      });

      $(".apply_filter").click(function(){
        controller.graph.reset_node_and_link_values();
        controller.graph.build();
        controller.diagram.draw();
      });

      var instructions_showing = true;

      $("#toggle_instructions").click(function(e){
        e.preventDefault();

        if (instructions_showing){
          $(this).text("Show Instructions");
          $("#instructions").slideUp();
        }else{
          $("#instructions").slideDown();
          $(this).text("Hide Instructions");
        }
        instructions_showing = !instructions_showing;
      });
    },

    initialize: function(){
      this.filter.build_time_selectors();

      //Create the graph and the diagram
      this.graph = new RibbonGraph(this.data, this.filter);
      this.diagram = new RibbonDiagram(this.graph);

      //Draw the diagram
      this.diagram.draw();
    }
  }

  var ribbon_controller = null;

  window.onload = function(){
    ribbon_controller = new RibbonController();
  }


