:javascript
  function RibbonFormatConverter(format){
    this.format = format;
    this.canonical_format = "json"  //This is format all the others convert to


    this.handlers = {
      "json": {
        "convert": function(data_in){
          if (JSON.parse(data_in[0]["data"])["STUDENTS"] == undefined ){
            alert("Your data does not have a top level \"STUDENTS\" attribute. It will not work :(");

          }
          return JSON.parse(data_in[0]["data"]);
        }
      },


      "csv": {
        "convert": function(data_in){
          var data_out_lookup = {};
          var data_out = { "STUDENTS": [] };
          data_in.forEach(function(d){
            data_arrays = null;

            if(d.data.match(/[\n]/g) == null){
              data_arrays = $.csv.toArrays(d.data.replace(/[\r|\r\n]/g, "\n"));
            } else {
              data_arrays = $.csv.toArrays(d.data);
            }

            data_obj = {"name": d.name, "data": {}};
            headers = data_arrays[0];

            data_arrays.forEach(function(row, r_ind){
              if (r_ind > 0){
                var student = null;
                var id = row[0];

                if (data_out_lookup[id] === undefined){
                  var new_student = {"ID": id, "DEMOGRAPHICS":{}, "RECORDS":[]}
                  data_out["STUDENTS"].push(new_student);
                  data_out_lookup[id] = data_out["STUDENTS"].length - 1;
                }

                student = data_out["STUDENTS"][data_out_lookup[id]];

                if (d.name === "records"){
                  var new_record = {"TIME":null, "GROUPS":[]};
                  row.forEach(function(cell, c_ind){
                    if (c_ind == 1){
                      new_record["TIME"] = cell;
                    } else if (c_ind > 1){
                      var new_group = {};
                      new_group[headers[c_ind]] = cell;
                      new_record["GROUPS"].push(new_group);
                    }
                  });
                  student["RECORDS"].push(new_record);

                } else if (d.name === "demographics"){

                  row.forEach(function(cell, c_ind){
                    if (c_ind > 0){
                      student["DEMOGRAPHICS"][headers[c_ind]] = cell;
                      data_out["STUDENTS"][data_out_lookup[id]] = student;
                    }
                  });
                }
              }
            });
          });

          return data_out;
        }
      }
    };
  };

  RibbonFormatConverter.prototype = {
    "convert": function(data_in){
      return this.handlers[this.format]["convert"](data_in);
    }
  };
